@model GoalsOsrs.Models.GoalViewModel

@{
    ViewData["Title"] = "Add Goal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Add Goal</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <section>
                    <form asp-action="AddGoalAdded">
                        <h4>Create a Goal</h4>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <!-- voor nu alleen Item-->
                        <div class="form-group">
                            <label asp-for="Kind"></label>
                            <select asp-for="Kind" name="Kind" class="form-control">
                                <option value="Item">Item</option>
                            </select>
                            <span asp-validation-for="Kind" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ValueOfKind">Item, Level, Killcount value</label>
                            <input asp-for="ValueOfKind" class="form-control" />
                            <span asp-validation-for="ValueOfKind" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control" style="height: 425px"; /></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-wide">Make the goal</button>
                        </div>
                        <!-- Account id meegeven-->
                        <input asp-for="AccountId" hidden class="form-control" value="@ViewBag.AccountId"/>
                        <span asp-validation-for="AccountId" class="text-danger" hidden></span>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
