@model  GoalsOsrs.Models.AllGoalsViewModel
@using Logic;
@{
    ViewData["Title"] = "Goals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Goals</title>
</head>
<body>
    <div class="goalsdiv">
        <div id="left">
            <h3>Done</h3>
        </div>

        <div id="middle">
            <h3>Close</h3>
        </div>

        <div id="right">
            <h3>Too Far</h3>
            @foreach (Goal goal in Model.ListOfGoals)
            {
                <a asp-action="SingleGoal" asp-route-id="@goal.Id" asp-controller="Goal"><div class="goals"><p>@goal.Title</p></div></a>
            }
            </div>
    </div>
    <form asp-action="AddGoal" asp-controller="Goal">
        <button class="bottom-right">Make goal</button>
    </form>
</body>
