@model  GoalsOsrs.Models.AllIngameAccountsViewModel
@using Logic;
@{
    ViewData["Title"] = "Goals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>IngameAccounts</title>
</head>
<body>
    <div>
        @foreach (IngameAccount ingameAccount in Model.ListOfIngameAccounts)
        {
            <a asp-action="SingleIngameAccount" asp-route-id="@ingameAccount.Id" asp-controller="IngameAccount"><div class="goals"><p>@ingameAccount.Username</p></div></a>
        }
    </div>
    <form asp-action="AddIngameAccount">
        <button class="bottom-right">Make a Account</button>
    </form>
</body>
