@{
    ViewData["Title"] = "Goal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>IngameAccount</title>
</head>
<body>
    <!-- Naam-->
    <div class="col-md-12">
        <div>
            Username:<h1>@ViewBag.Account.Username</h1>
        </div>
    </div>

    <hr />

    <!-- Type-->
    <div class="col-md-12">
        <div>
            Type account:<h1>@ViewBag.Account.Type</h1>
        </div>
    </div>

    <hr />
    <!-- Stats-->
    <div class="col-md-12">
        <div>
            Stats of the account:
            <!-- hoe? -->
        </div>
    </div>

    <form asp-action="Goals" asp-route-AccId="@ViewBag.Account.Id">
        <button class="bottom-left">Goals</button>
    </form>

    <form asp-action="UpdateIngameAccount" asp-route-id="@ViewBag.Account.Id">
        <button class="bottom-right">Update</button>
    </form>
</body>
